.titulo {
    font-weight: bold;
}

.subcont {
    margin: auto;
}

.contenedor {
    display: flex;
    flex-direction: row;
}

.todocont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}